body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgb(255, 153, 0), yellow, rgb(255, 153, 0));
    min-height: 400vh auto;
    color: whitesmoke;

}

main {
    height: 100%;
}

#main-section {
    flex-direction: column;
    display: flex;
    max-width: 1200px;
    height: 100%;
    background-repeat: repeat;
    background: radial-gradient(rgb(20, 20, 20)7%, rgb(39, 39, 39));
    margin: 0 auto;
    z-index: 5;
}

#firstdiv {

    display: flex;
    justify-content: space-between;
    gap: 0px;
}

.default-div {
    width: 100%;
    height: auto;
    min-height: 100vh;
    border: 1px solid red;
}

#imagecontainer {
    display: flex;
    width: 40%;
    justify-content: start;
    align-items: end;
    margin-right: 10%;
}

#firstdiv img {
    width: 63vh;
    position: absolute;
    z-index: 21;
    justify-content: end;
}

#textarea {
    height: 90%;
    width: 70%;
    font-size: 9vh;
    margin-top: 60px;
    margin-left: 5%;
}

#textarea hr {
    background-color: aliceblue;
    width: 70%;
    height: 2px;
}

#textarea span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

#textarea h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
}

/* Seleção de treino*/

#workoutselection-title-div {
    border: 1px solid red;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#workoutselection-title-div h1 {
    font-size: 5.5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#workoutselection-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 50%;
    border: 1px solid red;
    gap: 50px;
    width: fit-content;
    margin: 0 auto;
}

.workoutselection-button {
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: 0.5s;
}

.workoutselection-button:hover {
    border: 4px solid rgb(255, 255, 255);
}

.workoutselection-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.7vh;
}

.workoutselection-item img {
    width: 150px;
}

#bodybuilding-btn {
    background-color: rgb(255, 154, 86);
}

#powerlifting-btn {
    background-color: rgb(255, 86, 86);
}

#calistenia-btn {
    background-color: rgb(255, 229, 86);
}

#crossfit-btn {
    background-color: rgb(173, 86, 255);
}

#funcional-btn {
    background-color: rgb(98, 255, 98);
}

#artesmarciais-btn {
    background-color: rgb(104, 225, 255);
}

#workoutselection-content {
    box-shadow: 5px 5px 70px rgba(0, 0, 0, 0.5) inset;
    color: rgb(39, 39, 39);
    background-color: rgb(255, 251, 238);
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: justify;
    padding: 150px;
    max-height: 100vh;
    overflow-y: scroll;
    scrollbar-color: rgba(255, 105, 36, 0.925);
}

#workoutselection-content:empty {
    display: none;
}

#workoutselection-content h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 40px;
    padding-top: 40px;
}

#workoutselection-content h2 {
    padding: 30px 0px 30px 0px;
}

#workoutselection-content a {
    text-decoration: none;
    color: rgb(255, 136, 0);
}

#workoutselection-content p {
    text-indent: 40px;
    font-size: 1.4rem;
    padding-bottom: 10px;
}


/*media query*/
@media (max-width: 768px) {

    #firstdiv {
        flex-direction: row;
        align-items: center;
        position: relative;
        height: auto;
        padding-bottom: 40px;
    }

    #firstdiv img {
        position: static;
        width: 38vh;
        margin-top: 20px;
    }


    #imagecontainer {
        display: flex;
        width: 60%;
        justify-content: start;
        align-items: start;
    }

    #textarea {
        margin-top: 40px;
        font-size: 5vh;
    }

    .default-div {
        height: auto;
    }

    .workoutselection-button {
        width: 120px;
        height: 120px;
    }

    .workoutselection-button img {
        width: 80px;
        height: 80px;

    }

    #workoutselection-title-div {
        width: 100%;
        text-align: center;
    }

    #workoutselection-content {
        padding: 70px;
        width: 75%;
    }

}