body {
    background-image: url('/images/planilhabackground.png');
    background-repeat: repeat;
}

#profile-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}




#user-img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-container-general{

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-divs-general {
    border: 1px solid black;
    margin-top: 30px;
    width: 500px;
}





/*Container Informações do usuário*/


#user-placeholder {
    margin-top: 80px;
    border: 1px solid black;
}

#usercontainer-infos {
    height: 500px;
}

/*Informações físicas*/

#usercontainer-fisico {
    height: 400px;
}

/*botao add informações*/
#add-info {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(119, 0, 255);
    color: rgb(251, 255, 0);
    cursor: pointer;
}
