body {
    background-image: url('/images/planilhabackground.png');
    background-repeat: repeat;
}

#profile-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: -10px;
}

#user-info{
    background-color: rgba(255, 255, 255, 0.185);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    flex-direction: column;
}

#user-info h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.info {
    font-size: 18px;
    margin: 5px 0;
    font-style: oblique;
}

#user-img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#physical-section {
    background-color: rgba(255, 255, 255, 0.185);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#body-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-info {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(119, 0, 255);
    color: rgb(251, 255, 0);
    cursor: pointer;
}





