body {
    background-image: url('/images/NovoWalpaperPlanilha.webp');
    background-repeat: repeat;
    overflow-y: visible;
}

#Btsave {

height: 50px;
width: 300px;
background-color: rgb(255, 213, 0);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border-radius: 15px;
transition: all 0.8s ease;
}
#Btsave:hover{
background-color: rgb(0, 255, 0);
transform:translateY(-2px)
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#painel-section {
    width: 100%;
    display: flex;
    align-items: flex-start;
    height: 100px;

}



#painel-container {
    margin-top: 30px;
    height: 300px;
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
}

#checkbox-container {
    margin: 40px 0 0 30px;
}

#checkbox-container input {
    width: 20px;
    height: 20px;
}




/* Div principal (Semana) */

#right-main-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100vh;

}

.weekdiv {
    flex: 0 0 auto;
    display: block;
    margin: 50px;
    color: rgb(255, 255, 255);
    min-height: 300px;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 100px rgba(0, 0, 0, 2);
}

.weekdiv h2 {
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

/* Divs menores (Dias) */

.div-table {
    width: 100%;
    border-radius: 10px;
}

.addExerciseBtn {
    cursor: pointer;
    background-color: rgb(255, 217, 0);
    border-style: none;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
    border-radius: 0px 0px 10px 10px;
}

/*Tabela*/

.weektable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.weektable td {
    background-color: white;
}

.th-exercicio {
    width: 200px;
}

.th-series {
    width: 70px;
}

.th-repeticoes {
    width: 120px;
}

.th-peso {
    width: 75px;
}

.th-descanso {
    width: 80px;
}

.th-remove {
    width: 30px;
}

.weektable th {
    background-color: rgb(119, 0, 255);
    height: 30px;
}

.weektable th:first-child {
    border-radius: 10px 0px 0px 0px;
}

.weektable th:last-child {
    border-radius: 0px 10px 0px 0px;
}

#createweekdiv {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 420px;
    height: 1011px;
    border: 3px solid yellow;
    border-style: dashed;
    transition: 1s;
    margin: 50px;
}

#createweekdiv:hover {
    background-color: rgba(255, 255, 0, 0.205);
}

#createweekbutton {
    border-radius: 10px;
    border: none;
    background-color: yellow;
    width: 80px;
    height: 80px;
}

.rmspace {
    width: 50px;
    height: 50px;
    background-color: wheat;
}

.topcontent {
    display: flex;
    justify-content: flex-end;
}

.copyweek {
    background-color: transparent;
    border: none;
}

.copyweek img {
    width: 60px;
    height: 65px;
}

li #planilha-link {
    color: blueviolet;
}