body{
    background-image: url(/images/sobrenos-wallpaper.webp);
}

main {
    display: flex;
    justify-content: center;
    color: white;
}

#main-section {
    background-color: rgb(56, 56, 56);
    width: 900px;
    height: auto;
    box-shadow: 0px 1px 15px rgb(0, 0, 0);

}


.inside-div {
    height: 133px;
    background-color: black;
    margin-top: 70px;
}
#title.inside-div {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

li #sobrenos-link {
    color: rgb(0, 204, 255);
}