body {
    background-image: url(/images/sobrenos-wallpaper.webp);
}

main {
    display: flex;
    justify-content: center;
    color: white;
}

#title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#main-section {
    width: 900px;
    height: auto;
    font-size: 20px;
}


.profilediv {
    position: relative;
    display: flex;
    min-height: 250px;
    margin-top: 70px;
    box-shadow: 0px 1px 10px 1px black;
    flex-direction: row-reverse;
}

.profilediv::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    /* espessura da “borda” */
    height: 100%;
    background: linear-gradient(180deg, rgb(0, 238, 255), rgb(111, 0, 255), rgb(111, 0, 255));
}

.tleft {
    background: linear-gradient(90grad, transparent, rgb(0, 0, 0));
}

.tright {
    background: linear-gradient(90grad, rgb(0, 0, 0), transparent);
}

.tright::after {
    left: auto;
    right: 0;
}

#title.inside-div {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

li #sobrenos-link {
    color: rgb(0, 204, 255);
}

#generaldiv {
    height: 400px;
    margin-bottom: 70px;
    text-align: justify;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.7) 25%,
            rgba(0, 0, 0, 0.5) 35%,
            rgba(0, 0, 0, 0.4) 55%,
            rgba(0, 0, 0, 0) 80%);
}



#generaldiv p,
h4 {
    padding: 0px 40px 0px 40px;
}

/* Conteúdo card perfil*/

.profileimg-cnt {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileimg-cnt img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 0px 20px 70px 0px;
}

.content-cnt {
    width: 60%;
    height: 100%;
    text-align: justify;
}

.tleft .content-cnt {
    padding-left: 30px;
}

.content-cnt h2 {
    padding-top: 2rem;
}

.content-cnt p {
    padding-top: 1rem;
    margin-bottom: 40px;
}



.dir-cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 10%;
}

.dirbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;

}

.dirbuttons i {
    font-size: 40px;
    transition: 1s;
}

#btn-linkedIn {
    color: #0e76a8;
}

#btn-linkedIn:hover {
    color: #3cc1ff;
    text-shadow:
        0 0 20px black,
        0 0 30px #3cc1ff;
}

#btn-github {
    color: #8b9afc;
}

#btn-github:hover {
    color: #b6bfff;
    text-shadow: 
        0 0 20px black,
        0 0 30px #b6bfff;
}

.dirbuttons:hover i {
    transform: scale(1.4);
}