* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}



#div-logo img {
    width: 100px;
}

#div-logo {
    text-align: center;
    width: 200px;
}

#main-header {
    position: relative;
    color: whitesmoke;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    height: 75px;
    align-items: center;
    /*box-shadow: 0px 0px 30px 40px black;*/
    z-index: 20;

}

#header-navbar {
    margin-right: 50px;
}

#header-navbar ul {
    display: flex;
    flex-direction: row;
    gap: 80px;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#header-navbar a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    transition: all 0.8s ease;

}

#home-link:hover {
    color: yellow;
    text-shadow:
        0 0 10px yellow,
        0 0 20px yellow;
}

#planilha-link:hover {
    color: blueviolet;
    text-shadow:
        0 0 10px blueviolet,
        0 0 20px blueviolet;
}

#sobrenos-link:hover {
    color: rgb(0, 204, 255);
    text-shadow:
        0 0 10px rgb(0, 204, 255),
        0 0 20px rgb(0, 204, 255);
}

#perfil-link:hover {
    color: rgb(0, 204, 0);
    text-shadow:
        0 0 10px rgb(0, 204, 0),
        0 0 20px rgb(0, 204, 0);
}




@media (max-width: 768px) {

    #main-header {
        flex-direction: column;
        height: auto; /* Remove a altura fixa */
        padding: 10px 0;
        text-align: center;
        gap: 10px;
    }

    #div-logo {
        width: auto; /* Remover largura fixa */
    }

    #div-logo img {
        width: 80px; /* reduz o logo */
    }

    #header-navbar {
        margin-right: 0;
    }

    #header-navbar ul {
        flex-direction: column; /* Menu vira vertical */
        gap: 20px;              /* Diminui o espaço */
        align-items: center;
        padding: 0;
    }

    #header-navbar a {
        font-size: 18px;
    }
}
