* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}



#div-logo img {
    width: 100px;
}

#div-logo {
    text-align: center;
    width: 200px;
}

#main-header {
    position: relative;
    color: whitesmoke;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    height: 75px;
    align-items: center;
    box-shadow: 0px 0px 50px 60px black;
    z-index: 20;

}

#header-navbar {
    margin-right: 50px;
}

#header-navbar ul {
    display: flex;
    flex-direction: row;
    gap: 80px;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#header-navbar a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    transition: all 0.8s ease;

}

#home-link:hover {
    color: yellow;
    text-shadow:
        0 0 10px yellow,
        0 0 20px yellow;
}

#planilha-link:hover {
    color: blueviolet;
    text-shadow:
        0 0 10px blueviolet,
        0 0 20px blueviolet;
}

#sobrenos-link:hover {
    color: rgb(0, 204, 255);
    text-shadow:
        0 0 10px rgb(0, 204, 255),
        0 0 20px rgb(0, 204, 255);
}

#perfil-link:hover {
    color: rgb(0, 204, 0);
    text-shadow:
        0 0 10px rgb(0, 204, 0),
        0 0 20px rgb(0, 204, 0);
}