/* MOBILE */

@media (max-width: 768px) {

    #firstdiv {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    #imagecontainer {
        width: 100%;
        justify-content: center;
    }

    #firstdiv img {
        max-width: 280px;
    }

    .textarea {
        width: 90%;
        margin: 0 auto;
    }

    #workoutselection-content {
        width: 85%;
        padding: 30px;
    }

    #conhecanossaplanilha-visualtitle {
        flex-direction: column-reverse;
        gap: 20px;
    }

    #imagecontainer-planilha img {
        max-width: 350px;
    }

    #textarea-conhecanossaplanilha {
        width: 100%;
    }
