body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgb(255, 153, 0), yellow, rgb(255, 153, 0));
    min-height: 400vh auto;
    color: whitesmoke;

}

main {
    height: 100%;
}

#main-section {
    flex-direction: column;
    display: flex;
    max-width: 1200px;
    height: 100%;
    background-repeat: repeat;
    background: radial-gradient(rgb(20, 20, 20)7%, rgb(39, 39, 39));
    margin: 0 auto;
    z-index: 5;
}

#firstdiv {

    display: flex;
    justify-content: space-between;
    gap: 0px;
}

.default-div {
    width: 100%;
    height: auto;
    min-height: 100vh;

}

#imagecontainer {
    display: flex;
    width: 40%;
    justify-content: start;
    align-items: end;
    margin-right: 10%;
}

#firstdiv img {
    width: 63vh;
    position: absolute;
    z-index: 21;
    justify-content: end;
}

.textarea {
    height: 90%;
    width: 70%;
    font-size: 9vh;
    margin-top: 60px;
    margin-left: 5%;
}

.textarea hr {
    background-color: aliceblue;
    width: 70%;
    height: 2px;
}

.textarea span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

.textarea h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
}

/* Seleção de treino*/

#workoutselection-title-div {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#workoutselection-title-div h1 {
    font-size: 5.5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#workoutselection-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 50%;
    gap: 50px;
    width: fit-content;
    margin: 0 auto;
}

.workoutselection-button {
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: 0.5s;
}

.workoutselection-button:hover {
    transform: scale(0.9);
}

.workoutselection-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.7vh;
}

.workoutselection-item img {
    width: 150px;
}

#bodybuilding-btn {
    background-color: rgb(255, 154, 86);
}
#bodybuilding-btn:hover {
    background-color: rgb(255, 102, 0);
}

#powerlifting-btn {
    background-color: rgb(255, 86, 86);
}
#powerlifting-btn:hover {
    background-color: red;
}

#calistenia-btn {
    background-color: rgb(255, 229, 86);
}
#calistenia-btn:hover {
    background-color: rgb(255, 217, 0);
}

#crossfit-btn {
    background-color: rgb(173, 86, 255);
}
#crossfit-btn:hover {
    background-color: rgb(132, 0, 255);
}

#funcional-btn {
    background-color: rgb(98, 255, 98);
}
#funcional-btn:hover {
    background-color: rgb(0, 255, 0);
}

#artesmarciais-btn {
    background-color: rgb(104, 225, 255);
}
#artesmarciais-btn:hover {
    background-color: rgb(0, 204, 255);
}

#workoutselection-content {
    box-shadow: 5px 5px 70px rgba(0, 0, 0, 0.5) inset;
    color: rgb(39, 39, 39);
    background-color: rgb(255, 251, 238);
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: justify;
    padding: 150px;
    max-height: 70vh;
    overflow-y: scroll;
    scrollbar-color: rgba(255, 105, 36, 0.925);
}

#workoutselection-content:empty {
    display: none;
}

#workoutselection-content h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 40px;
    padding-top: 40px;
}

#workoutselection-content h2 {
    padding: 30px 0px 30px 0px;
}

#workoutselection-content a {
    text-decoration: none;
    color: rgb(255, 136, 0);
}

#workoutselection-content p {
    text-indent: 40px;
    font-size: 1.4rem;
    padding-bottom: 10px;
}

#conhecanossaplanilha-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

#conhecanossaplanilha-visualtitle {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}



#textarea-conhecanossaplanilha {
    width: 30%;
    padding-bottom: 60px;

}

#imagecontainer-planilha {
    width: 50%;
    justify-content: center;

}

#imagecontainer-planilha img {
    width: 100%;
    margin: 0 auto;
}

#textarea-conhecanossaplanilha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#textarea-conhecanossaplanilha span {
    margin: 0;
}

#planilha-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

#planilha-content p {
    text-align: justify;
    font-size: 1.4rem;
}

#paragrafo-intro {
    padding: 40px;
    text-indent: 40px;
}

.planilha-home-card {
    margin: 40px 0px 0px 0px;
    width: 80%;
    border: 1px;
}

.planilha-home-card p {
    padding-top: 20px;
}

.planilha-home-card h1 {
    color: blueviolet;
}

.planilha-home-card a {
    font-size: 1.4rem;
    text-decoration: none;
    color: rgb(255, 255, 101);
}

.planilha-home-card i {
    font-size: 1rem;
}

.planilha-home-card ul {
    margin-top: 10px;
}

.planilha-home-card li {
    font-size: 1rem;
}





/*media query*/
/* MOBILE */

@media (max-width: 768px) {

    #firstdiv {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    #imagecontainer {
        width: 100%;
        justify-content: center;
    }

    #firstdiv img {
        max-width: 280px;
    }

    .textarea {
        width: 90%;
        margin: 0 auto;
    }

    #workoutselection-content {
        width: 85%;
        padding: 30px;
    }

    #conhecanossaplanilha-visualtitle {
        flex-direction: column-reverse;
        gap: 20px;
    }

    #imagecontainer-planilha img {
        max-width: 350px;
    }

    #textarea-conhecanossaplanilha {
        width: 100%;
    }

}